* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-image: url(./assets/background.png);
  background-size: cover;
  height: 100vh;
}
.nav-container {
  padding: 10px 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.navbar {
  color: white;
}
/*  */
.mainmenu {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: space-around;
}
.menu ul a {
  color: white;
  text-decoration: none;
}
.btn-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 30px;
  color: white;
  background-color: #249aef;
}
.btn-container i {
  display: inline;
}
.banner {
  display: flex;
}
.herosection {
  color: white;
  margin-top: 150px;
  margin-left: 50px;
  padding: 20px 20px 20px 20px;
  display: inline-block;
  justify-content: start;
}
.herosection h2 {
  font-size: 2.5rem;
  padding: 0px 20px 5px 60px;
}
.herosection p {
  width: 325px;
  font-size: 1rem;
  padding: 20px 20px 25px 60px;
}
.btn-1 {
  margin-left: 60px;
  padding: 10px 20px 10px 20px;
  border-radius: 30px;
  background-color: #249aef;
  border: none;
}
.btn-2 {
  margin-left: 10px;
  padding: 10px 20px 10px 20px;
  border-radius: 30px;
  background-color: #f8f9fa;
  border: none;
}
.form {
  display: flex;
  margin-left: 350px;
  margin-top: 60px;
  border-radius: 10px;
  justify-content: center;
}
.appointmentform {
  display: inline-block;
  background-color: white;
  border-radius: 10px;
  width: 200px;
}
.appointmentform h3 {
  margin: 20px 0px;
  text-align: center;
}
.label {
  margin: 5px 20px;
}
.input {
  margin: 5px 20px;
}
#department {
  width: 100%;
  margin: 5px 0px;
}
.list {
  margin: 5px 20px;
}
.btn-booking {
  border: none;
  border-radius: 5px;
  background-color: #249aef;
  padding: 8px 20px;
  width: 80%;
  margin: 20px 20px;
}
.leading-medicine {
  text-align: center;
  margin: 10px;
  padding: 50px;
}
.leading-medicine h3 {
  text-align: center;
  padding: 10px;
}
.leading-medicine p {
  text-align: center;
}
.cart-case-container {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
}
.cart-case {
  margin-left: 10px;
  width: 300px;
}
.cart-case-heading {
  width: 250px;
  height: 100px;
  color: white;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  gap: 10px;
  align-items: center;
  background-color: #3d6df3;
  opacity: 0.7;
}
.cart-case-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  z-index: 1;
}
.cart-case-img i {
  color: #249aef;
  z-index: 100;
}
.cart-case h3 {
}
.cart-case p {
  padding: 5px 20px;
}
.cart-case h4 {
  color: #1b5df7;
  padding: 5px 20px;
}
.user-card-container {
  margin: 20px 50px;
  display: flex;
  justify-content: center;
  gap: 50px;
  height: 200px;
  width: 100%;
}
.user-card {
  width: 300px;
  height: 90%;
  border: 1px solid #d2d0d0;
  border-radius: 10px;
  padding: 10px 20px 20px 30px;
}
.fa-regular {
  padding: 10px;
  color: #ffe100;
}
.checked {
  color: #ffe100;
}
.user-card p {
  padding-top: 10px;
}
.user-img-div {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}
.user-img-div img {
  width: 40px;
}
.faqcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.q {
  display: flex;
  gap: 10px;
}
.faq {
  width: 300px;
  height: 150px;
  padding: 20px 30px;
}
.faq i {
  color: #249aef;
  font-weight: bold;
}
.faq span {
  font-weight: bold;
}
.faq p {
  padding: 10px 20px;
}
/* Pricing Card-Container */
.pricing-card-container {
  display: flex;
  justify-content: center;
}
/* Pricing Card */

.pricing-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px solid red;
  width: 200px;
  height: 500px;
}
.pricing-card{
  text-align: center;
}
.price{
 
 
  gap: 10px;
}

