* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #f5f5f5;
}
/* Navbar Section Start */
.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}
.logo img {
  width: 50px;
}
.menu select {
  border: none;
}
.menu a {
  margin: 0px 20px;
  text-decoration: none;
  color: #4b4b4b;
}
.btn1 {
  width: 100px;
  height: 30px;
  border: none;
  background-color: #f8f4f4;
}
.btn2 {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: #03487d;
  color: #f8f4f4;
}
/* Navbar Section End */

/* Hero Section Start */
.hero-Section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding-left: 50px;
}
.hero-discription {
  padding: 10px 10px;
}
.hero-discription h1 {
  margin: 10px 0px;
  padding: 0px 10px;
}
hr {
  width: 300px;
}
.hero-discription p {
  padding: 20px 10px;
}
.discription-bottom {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}
.discription-bottom p {
  padding: 0px 30px;
}
.arrow {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 5px 5px;

  background-color: rgb(0, 0, 0);
  font-size: 1rem;
}
.hero-img {
  display: block;
  justify-content: end;
  padding-right: 20px;
  width: 40%;
}
.hero-img img {
  width: 90%;
}
.slide-counter {
  margin-right: 50px;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 50px;
}
.slide-counter img {
  margin: 0px 20px;
  width: 40px;
  height: 30px;
}
.left-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.right-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
/* Hero Section End */
/* miles-card Section Start */

.miles-section {
  padding: 50px 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f4f1f1;
  gap: 10px;
}
.miles-card {
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 10px;
}

.card-discription {
  margin: 10px;
  display: flex;
  align-items: end;
  gap: 10px;
}
.card-discription h3 {
  font-size: 2.5rem;
}
.card-discription p {
  font-size: 1.5rem;
}

/* miles-card Section Start */
.section-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
.section-heading h1 {
  font: 1.5rem;
}
.section-paragraph {
  font: 1rem;
}
.section-description {
  margin-left: 150px;
  display: flex;
  gap: 50px;
}
.section-description img {
  width: 60%;
}
.section-description-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.section-description-icon {
  width: 100%;
  display: flex;
  align-items: center;
}
.section-description-icon > img {
  width: 30px;
}
.section-img {
  width: 60%;
}
.high-efficiency-motor {
  display: flex;
  justify-content: center;
  width: 100%;
}
.high-efficiency-motor img {
  width: 100%;
  height: 70%;
  padding: 50px 100px;
}

/* Accessaries Section */
.section-accessaries {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.section-accessaries-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section-accessaries-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}
.section-accessaries-icon img {
  width: 10%;
}
.section-accessaries-img {
  width: 50%;
}
.section-accessaries-img img {
  width: 80%;
  height: 80%;
}

/* Shoping Rack Section */
.shoping-Rack {
  display: flex;
}
.shoping-Rack-img img {
  width: 50%;
}
.shoping-rack-description {
  display: flex;
}
.shoping-Rack-btn {
  text-align: center;
}
.shoping-Rack-btn button {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #f5f5f5;
  padding: 10px 50px;
  font-size: 1rem;
}
/* Gallery Section */
.gallery-section {
  display: flex;
  justify-content: center;
}
.gallery-left {
  padding-top: 100px;
  width: 50%;
}
.gallery-left-box {
  margin: 50px 10px 10px 10px;
  position: relative;
  background-color: #f8f4f4;
}
.gallery-left-box h4 {
  position: absolute;
  top: 50px;
  left: 40px;
}
.gallery-left img {
  width: 525px;
  height: 400px;
  margin: 20px;
}
.gallerybtn {
  padding: 20px 100px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.gallerybtn button {
  border-radius: 6px;
  height: 50px;
  background-color: #f8f4f4;
  border: 1px solid #0e0e0e;
}

.gallery-right {
  width: 50%;
}
.gallery-right img {
  width: 500px;
  height: 400px;
  margin: 20px;
}

/* colors section */
.Colors {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 150px;
}
.Colors-img img{
  text-align: center;
  width: 100%;
}
.colors-scooter {
  position: absolute;
  top: 550px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}
.colors-scooter img {
  width: 60%;
  padding-bottom: 80px;
}
/* Testimonial Section */
.tetimonial-sectioin{
  margin: 10px 0px;
  padding: 20px;
}
.tetimonial-sectioin h1{
  font-size: 1.5rem;
  padding: 20px;
}
.testimonila-contaioner{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
.testimonial-card{
  padding: 20px;
  width: 300px;
  height: 350px;
  border: #f3f1f1;
  background-color: white;
}
.star{
  text-align: center;
  margin: 20px 20px;
}
.testimonial-card p{
  padding: 10px;
  text-align: center;
  font-size: 1rem ;
  font-weight: bold;
  color: #4b4b4b;
}

.card-bottom{
  display: flex;
  justify-content: center;
  margin: 20px 10px;
  gap: 10px;
}
.user{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 5px;
}
.card-bottom h2{
  font-size: 1rem;
}
.card-bottom h3{
  font-size: .6rem;
}
.testimonial-slider{
  text-align: center;
}
.testimonial-slider i{ 
  font-size:3.5rem;
  opacity: 75%;
  padding: 10px;
}
.subscription{
  height: 30px
  
}
/* Footer Section Start */
.footer {
  margin-top: 100px;
  height: 200px;
  display: flex;
  justify-content: space-between;

  padding: 10px 20px 0px 0px;
  background-color: #4b4b4b;
}
.column {
  position: relative;
  color: #ebe6e6;
  width: 25%;
  line-height: 2;
  row-gap: 2;
}

.column h2 {
  text-align: left;
}
.column a {
  display: block;
}
.column img {
  position: absolute;
  bottom: 15px;
  width: 250px;
}
.column a {
  text-decoration: none;
  color: #ebe6e6;
}
.social i {
  margin: 0px 6px;
}
.copyright {
  padding: 20px;
  background-color: #4b4b4b;
  color: #ebe6e6;
  text-align: center;
}
/* Footer Section End */
