@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:ital@0;1&display=swap');
* {
  margin: 0;
  padding: 0;
}
.menu-icon{
  display: none;
}

/* Navbar  */

.navbar {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  
  
}
.logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo img{
    margin: 10px;
}
.logo h2{
  
}
.menu{
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu a{
  margin: 0px 50px;
  align-items: center;
  text-decoration: none;
  color: #636261;
}
.menu> ul>a:hover{
  
  color: #ea6607;
}
.btn{
  margin-right: 20px;
  align-items: center;
  justify-content: center;
}
.btn_signup{
  padding:10px 20px ;
}


/* Header Section */
.HeroSection{
    display: flex;
    flex-direction: row;
    height: 500px;
    display: flex;  
}
.HeroSection_left{
  margin: 20px 50px;
  width: 50%;   
}
.HeroSection_left h1{
  padding-bottom: 5px;
  font-size: 3.0rem;
}
.HeroSection_left p{
  border-left:1px solid #666565;
  margin: 20px 0px;
  padding: 0px 10px;
  font-size: 1.5rem;
}
.btn-container{
  margin: 50px 0px;
  position: relative;
}
.HeroSection_left button{
  padding:10px 20px;
  border:0.5px solid #666565;
  font-size: 1.0rem;
}
.btn-1{
  margin-right: 50px;
  background-color: #eb4904;
  color: aliceblue;
  border: none;
}
.btn-2{
 
  background-color: white;
  color: black;
  border: 1px solid gray;
}
.HeroSection_left img{
  margin-left: 50px;
  position: absolute;
  top: 10px; 
  width: 100px;
  height: 100px;
}
.img-container{ 
  
  width: 50%;
  height: 450px; 
  position: relative;
}
.main-image-bg {  
  width: 400px;
  height: 400px;
  position: absolute;
  top: 20px;
  left: 50px;
}
.main-image-pattern { 
  width: 400px;
  height: 400px; 
  position: absolute;
  top: 0;
  left: 50px;
}
.main-image { 
  width: 200px;
  height: 350px;
  position: absolute;
  top: 50px;
  left: 150px;
}
.green-arrow{
  position: absolute;
  bottom: 0px;
  left: 20px;
}
.circle{
  position: absolute;
  bottom: 20px;
  right: 20px;
}
/* Footer */
.footer{
  display: flex;
  justify-content: space-around;
  height: 200px;
  background-color: #47189e;
  color: white;
  gap: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.footer-1 h3{
  font-family: poppins;
  font-size: 1.5rem;
  margin: 10px;
  padding: 10px 150px 0px 30px;
  
}
.footer-1 p{
  font-family: sans-serif;
  margin: 10px;
  padding: 10px 50px 0px 30px;
}
.footer-2{
  display: inline-block;
  
}
.img-box-1{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 20px 20px 0px;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  background-color: #32fff5;  
}
.img-box-1 img{   
  width: 20px;
  height: 20px;
  text-align: center;  
}
.footer-2 h3{   
 padding: 10px 0px;
 font-family: roboto;
}
.footer-2 p{   
 font-family: sans-serif;
}
.footer-3{
  display: inline-block;
  
}
.img-box-2{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 20px 20px 0px;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  background-color: #f5590b;  
}
.img-box-2 img{   
  width: 20px;
  height: 20px;
  text-align: center;  
}
.footer-3 h3{   
 padding: 10px 0px;
 font-family: roboto;
}
.footer-3 p{   
 font-family: sans-serif;
}
.footer-4{
  display: inline-block;
  
}
.img-box-3{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 20px 20px 0px;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  background-color: #4f2fdd;  
}
.img-box-3 img{   
  width: 20px;
  height: 20px;
  text-align: center;  
}
.footer-4 h3{   
 padding: 10px 0px;
 font-family: roboto;
}
.footer-4 p{   
 font-family: sans-serif;
}
/* Responsive style */
@media screen and (max-width: 750px){
  .menu-icon{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .navbar {
    display: none;
    justify-content: space-between;    
  }
  .HeroSection{
    display: flex;
    flex-direction: column;
    height: 500px;
    display: flex;  
}
  }




